/*Global*/
html,
body,
div,
header,
p,
ol,
ul,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
form,
span,
input,
select,
button,
textarea,
iframe,
table,
th,
td,
blockquote,
img {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  background: #F06060;
  color: #fff;
  font: 12px/1.5 "Microsoft YaHei"; }

/*header*/
header {
  width: 85px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #FFA1A1; }
  header .game-level {
    display: block;
    width: 80px;
    position: absolute;
    top: 10%;
    left: 10px;
    text-align: left; }
  header .game-time {
    display: block;
    width: 80px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    background-color: #FD9090;
    color: #FFCACA;
    border-radius: 10px; }
  header .pause-btn {
    width: 80px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    border: none;
    background: #fcad26;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    right: 0; }

@media screen and (max-width: 730px) {
  header {
    width: 100%;
    height: 60px; }
    header .game-level {
      left: 5%;
      top: 10px; }
    header .game-time {
      left: 50%;
      top: 10px;
      transform: translateX(-50%); }
    header .pause-btn {
      width: 80px;
      right: 0;
      bottom: 10px; } }
/*color-box*/
.color-container {
  width: calc(100% - 85px);
  height: 100%;
  position: absolute;
  top: 0;
  left: 85px; }
  .color-container #color-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .color-container #color-box span {
      display: block;
      float: left;
      border-radius: 10px;
      cursor: pointer;
      border: 5px solid #ddd; }
  .color-container .row2 span {
    width: 50%;
    height: 50%; }
  .color-container .row3 span {
    width: 33%;
    height: 33%; }
  .color-container .row4 span {
    width: 25%;
    height: 25%; }
  .color-container .row5 span {
    width: 20%;
    height: 20%;
    border-width: 3px; }
  .color-container .row6 span {
    width: 16.666%;
    height: 16.666%;
    border-width: 3px; }
  .color-container .row7 span {
    width: 14.28%;
    height: 14.28%;
    border-width: 3px; }
  .color-container .row8 span {
    width: 12.5%;
    height: 12.5%;
    border-width: 3px; }
  .color-container .row9 span {
    width: 11.111%;
    height: 11.111%;
    border-width: 3px; }

@media screen and (max-width: 730px) {
  .color-container {
    width: 100%;
    height: calc(100% - 65px);
    position: absolute;
    top: 65px;
    left: 0; } }
/*index-page*/
#index-page {
  width: 100%;
  background: #F06060;
  position: relative;
  text-align: center;
  z-index: 999; }
  #index-page h1 {
    font-size: 30px;
    padding: 40px 0 20px 0; }
  #index-page h2 {
    font-size: 24px; }
  #index-page p {
    padding-top: 20px;
    font-size: 18px;
    color: #FFA1A1; }
  #index-page button {
    width: 220px;
    height: 45px;
    line-height: 45px;
    border: none;
    border-radius: 5px;
    background: #fcad26;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%); }

/*pause-page*/
#pause-page {
  width: 100%;
  background: #a74343;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  display: none;
  z-index: 999; }
  #pause-page h3 {
    font-size: 40px;
    line-height: 60px;
    color: #FFE2C5;
    padding: 20px 0; }
  #pause-page button {
    width: 220px;
    height: 45px;
    line-height: 45px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10px;
    color: #fff;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    background: #FCAD26; }

/*overtime*/
#overtime {
  width: 100%;
  font-size: 20px;
  background: #a74343;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  text-align: center;
  display: none; }
  #overtime h2 {
    padding: 30px 0 10px 0; }
  #overtime h3 {
    line-height: 60px;
    font-size: 40px;
    margin: 0;
    color: yellow;
    padding: 10px 0 20px 0; }
  #overtime button {
    width: 220px;
    height: 45px;
    font-size: 20px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
    border: none;
    border-radius: 7px;
    outline: none;
    cursor: pointer;
    background: #FCAD26; }

/*# sourceMappingURL=style.css.map */
